@model List<Kili.Models.Vente.Produit>

@{
    Layout = "_LayoutBoutique";
    ViewBag.Title = "Ma boutique";
}
<section id="feature" class="feature">
    <div class="container">
        <div class="section-header">
            <h2>Nos favoris</h2>
        </div><!--/.section-header-->
        <div class="feature-content">
            <div class="row">
              
                @foreach (var prod in Model)
                 
               { <div class="col-sm-3">
                    <div class="single-feature">
                        <img src="@prod.ImagePath" alt="feature image">
                        <div class="single-feature-txt text-center">
                            <h3><a href="#">@prod.Designation</a></h3>  
                           <h5>@prod.PrixUnitaire @prod.Devise</h5>
                        </div>
                    </div>
                </div>}
            </div>
        </div>
    </div><!--/.container-->
</section><!--/.feature-->
<!--new-arrivals start -->
<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2>Nos Produits</h2>
        </div><!--/.section-header-->
        <div class="new-arrivals-content">
            <div class="row">
               @foreach (var prod in Model)
               { <div class="col-md-3 col-sm-4">
                    <div class="single-new-arrival">
                        <div class="single-new-arrival-bg">
                            <img src="@prod.ImagePath" alt="new-arrivals images">
                            <div class="single-new-arrival-bg-overlay"></div>
                            <div class="sale bg-1">
                                <p>sale</p>
                            </div>
                            <div class="new-arrival-cart">
                                <p>
                                    <span class="lnr lnr-cart"></span>
                                    @Html.ActionLink("Acheter", "Acheter", "Vente", new { id = @prod.ProduitID, @label="Add to cart" })
                                </p>
                                <p class="arrival-review pull-right">
                                    <span class="lnr lnr-heart"></span>
                                    <span class="lnr lnr-frame-expand"></span>
                                </p>
                            </div>
                        </div>
                         <h3><a href="#">@prod.Designation</a></h3> 
                        <p class="arrival-product-price">@prod.PrixUnitaire @prod.Devise</p>
                    </div>
                </div>}
            </div>
        </div>
    </div><!--/.container-->

</section><!--/.new-arrivals-->
<!--new-arrivals end -->
