@model Kili.Models.Vente.Produit

@{
    Layout = null;
    
}
@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Créer votre produit </legend><br />
        @Html.LabelFor(p => p.Designation)
        @Html.TextBoxFor(p=> p.Designation)
        @Html.ValidationMessageFor(p=> p.Designation)
        <br /><br />
        @Html.LabelFor(p=> p.Format)
        @Html.TextBoxFor(p=>p.Format)
        @Html.ValidationMessageFor(p =>p.Format)
        <br /><br />
        @Html.LabelFor(p=> p.Description)
        @Html.TextAreaFor(p=> p.Description)
        @Html.ValidationMessageFor(p=> p.Description)
        <br /><br />
        <form enctype="multipart/form-data"  method="post">
            <dl>
                <dt>
                    <label for="fichier">Image produit</label>
                </dt>
                <dd>
                    @*<input id="fichier" type="file" 
                        name="fichier" />*@
      @Html.TextBoxFor(a => a.Image, new { placeholder = "Description", @type = "file", @class="file-pos", @id="exampleInputFile" })

                </dd>
            </dl>

            <input class="btn" type="submit" value="Télécharger" />

            <div style="margin-top:15px">
                <output name="result"></output>
            </div>
        </form>
        @Html.LabelFor(p=> p.PrixUnitaire)
        @Html.TextBoxFor(p=> p.PrixUnitaire)
        @Html.ValidationMessageFor(p=>p.PrixUnitaire)
        <br /><br />
        @Html.LabelFor(p=>p.Devise)
        @Html.TextBoxFor(p=>p.Devise)
        @Html.ValidationMessageFor(p=>p.Devise)
        <br /><br />
        @Html.LabelFor(p=>p.CatalogueID)
        @Html.DropDownListFor(p => p.CatalogueID, (SelectList)ViewBag.Catalogue, "Sélectionner un catalogue")<br /><br />

        <input type="submit" value="Créer" />
    
        @section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    </fieldset>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}