@model Kili.ViewModels.LivraisonViewModel;
@using Kili.Models.Vente
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
 @using (Html.BeginForm("CoordonneesAcheteur","Vente"))
  {
    <h3>Choix de ma livraison</h3>
    <table cellpadding="2" cellspacing="2" border="1" >
        <tr>
            <th>Id</th>
            <th>Désignation</th>
            <th>Description</th>
            <th>Frais de livraison</th>
            <th>Devise</th>
            <th>Choix de livraison</th>
        </tr>

        @foreach (var livraison in Model.Livraisons)
        {
           <tr>
            <td>@livraison.LivraisonID</td>
            <td>@livraison.LivraisonName</td>
            <td>@livraison.LivraisonDescription</td>
            <td>@livraison.LivraisonPrice</td>
            <td>@livraison.LivraisonDevise</td>
            <td>@Html.RadioButton("Choisir", @livraison.LivraisonID)</td>
           </tr>
        }
    </table>

    <p>
        Compléter vos coordonnées avec les champs ci-dessous :
    </p>
        <fieldset>
            <legend>Remplissez les champs correspondants </legend><br />
            
                     <p>Adresse de livraison</p>
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.Useraccount.Nom)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.Useraccount.Nom)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.Useraccount.Prenom)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.Useraccount.Prenom)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Numero)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Numero)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Voie)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Voie)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Complement)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Complement)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseLivraison.CodePostal)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseLivraison.CodePostal)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Ville)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseLivraison.Ville)
            <br /><br />
            
                            @*<p>Adresse de facturation</p>
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.Useraccount.Nom)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.Useraccount.Nom)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.Useraccount.Prenom)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.Useraccount.Prenom)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Numero)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Numero)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Voie)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Voie)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Complement)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Complement)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseFacturation.CodePostal)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseFacturation.CodePostal)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Ville)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.AdresseFacturation.Ville)
            <br /><br />
            @Html.LabelFor(m => Model.CoordonneesAcheteur.Telephone)
            @Html.TextBoxFor(m => Model.CoordonneesAcheteur.Telephone)
            <br /><br />
            @Html.HiddenFor(m => Model.CoordonneesAcheteur.CoordonneesAcheteurID)*@

            <input type="submit" value = "Passer au Paiement"/>
        </fieldset>
        <br /><br />

         @Html.ActionLink("Valider Commande", "IndexPaiement")


    }
    </body>
</html>