@model Kili.ViewModels.IndexViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}




<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->
<!-- intro site -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="home-info">
                    <h1><b>Découvrez les associations qui vous ressemblent !</b></h1>
                    <h3>
                        Kili vous aide à découvrir la diversité des activités proposées par 184 727
                        associations et clubs dans toute la France !
                    </h3>
                    <form action="" method="get" class="online-form">
                        <button type="button" class="form-control">@Html.ActionLink("Explorer", "VoirAssociations", "Home")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Associations à découvrir -->
<section id="feature" data-stellar-background-ratio="0.5">
    <div class="container">

        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title" id="new">
                    <h1>Associations à découvrir</h1>


                </div>
            </div>

            <div class="col-md-12 col-sm-12">

                <ul class="nav nav-tabs navbar-right" role="tablist">

                    <li class="active">
                        <a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab">
                            Les
                            + récentes
                        </a>
                    </li>

                    <li><a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab">Collectes</a></li>

                    <!-- <li><a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab">Boutiques</a></li> -->

                    <li>
                        <a href="#tab04" aria-controls="tab04" role="tab" data-toggle="tab">
                            Tous voir
                            &rarr;
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab01" role="tabpanel">
                        <div class="tab-pane-item">
                            
                            <div class="row">

                                @foreach (var association in Model.Associations)
                                {
                                    <div class="column">
                                        <div class="card">
                                            <img src="@association.ImagePath" alt="Jane" style="width:373px;height:250px;">
                                            <div class="container">
                                                <h2>@association.Nom</h2>
                                                <p class="title">@association.Theme</p>
                                                <p class="overflow-clip-ellipsis" style="width: 350px; overflow: hidden; text-overflow: clip ellipsis;display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">@association.Description</p>
                                                <p style="color:#ee490e;">@association.Adresse.Ville</p>
                                                <p><button class="button">@Html.ActionLink("Découvrir", "VoirDetailsAssociation", "Association" , new { id = @association.Id})</button></p>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="tab02" role="tabpanel">
                        @foreach (var collecte in Model.Collectes)
                        {
                            <div class="tab-pane-item">
                                <h2>@collecte.Nom</h2>
                                <p>@collecte.Descriptif</p>
                                <p><button class="button">@Html.ActionLink("Découvrir", "AfficherCollecte", "Collecte" , new { id = @collecte.Id})</button></p>
                            </div>
                        }
                    </div>

                   

                </div>
            </div>

        </div>

      

    </div>
    </div>
</section>





<!-- TESTIMONIAL -->
<section id="testimonial" data-stellar-background-ratio="0.5">
    <div class="row">

        <div class="col-md-7 col-sm-12">
            <div class="testimonial-image"></div>

        </div>

        <div class="col-md-5 col-sm-12">
            <div class="testimonial-info">

               <!-- <div class="section-title">
                    <h1>Parole de bénévole</h1>
                </div>-->

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <h1>
                            UN ACTE QUI 
                            S’IMPOSE COMME UNE ÉVIDENCE
                        </h1>
                        <h3>
                            Par le passé, j’ai effectué un service civil en tant qu’accompagnateur auprès de personnes handicapées (par l’intermédiaire d’APF France Handicap). J’ai toujours gardé à l’esprit de revivre cette expérience dans le cadre d’une action bénévole…
                            Vingt ans après, j’ai trouvé l’association Action Passeraile dont la mission est de permettre aux personnes handicapées de rompre de la solitude, de sortir de chez elle pour tous types d’activités de loisir. J’accompagne donc des personnes aux cinémas, à des concerts, à des expositions… C’est très varié.
                        </h3>
                        <div class="testimonial-item">
                            <img src="/images/tst-image1.jpg" class="img-responsive" alt="Michael">
                            <h4>Michael</h4>
                        </div>
                    </div>

                    <div class="item">
                         <h1>
                            DONNER AUX AUTRES,
 RECEVOIR EN RETOUR
                        </h1>
                        <h3>
                            Ma découverte du bénévolat est très ancienne. Etudiante, j’avais envie de passer des vacances « utiles aux autres ».

Je suis tombée sur APF France Handicap qui cherchait des accompagnateurs bénévoles pour leurs centres de vacances d’été durant 3 semaines. Je leur ai proposé ma bonne volonté n’ayant aucune formation pour l’animation mais me sentant capable de donner un coup de main pour le quotidien.
                        </h3>
                        <div class="testimonial-item">
                            <img src="/images/tst-image2.jpg" class="img-responsive" alt="Sofia">
                            <h4>Sofia</h4>
                        </div>
                    </div>

                    <div class="item">
                         <h1>
                            ETRE BÉNÉVOLE MÊME
AVEC UNE VIE BIEN REMPLIE
                        </h1>
                        <h3>
                           Je suis maman d'une fillette de 2 ans et demi et j'exerce une profession libérale. J'habite dans un tout petit village d'environ 300 habitants et je suis passionnée de lecture.
Lorsque j'ai appris que la bibliothèque de ma commune cherchait des bénévoles, j'ai tout naturellement proposé mes services.
J'ai un métier très prenant et un enfant en bas âge mais ça ne m'empêche pas pour autant de m'investir dans le bénévolat à hauteur de mes possibilités.
                        </h3>
                        <div class="testimonial-item">
                            <img src="/images/tst-image3.jpg" class="img-responsive" alt="Monica">
                            <h4>Monica</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


     </div>
     </div>
     </section>


<section id="pricing" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h1>Au service des associations </h1>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricing-thumb">
                    <div class="pricing-title">
                        <h2>Adhésion </h2>
                    </div>
                    <div class="pricing-info">
                        <p>Un bulletin d'adhésion personnalisé</p>
                        <p>Une gestion de vos adhésions centralisée et gratuite</p>
                        <p>Un accompagnement sur mesure</p>

                    </div>
                    <div class="pricing-bottom">
                        <span class="pricing-dollar">19,99€/mois</span>
                        @*<a href="#" class="section-btn pricing-btn">Souscrire</a>*@

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Association"))
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "GererServices", "Association")</button>
                        }
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "Authentification", "Login")</button>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Association") == false)
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "AjouterAssociation", "Association")</button>
                        }
 


                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricing-thumb">
                    <div class="pricing-title">
                        <h2>Collecte</h2>

                    </div>
                    <div class="pricing-info">
                        <p>0 commission, ni frais cachés</p>
                        <p>Une campagne personnalisée</p>
                        <p>Des paiements et versements sécurisés</p>

                    </div>
                    <div class="pricing-bottom">
                        <span class="pricing-dollar">19,99€/mois</span>
                        @*<a href="#" class="section-btn pricing-btn">Souscrire</a>*@
                                                @if (User.Identity.IsAuthenticated && User.IsInRole("Association"))
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "GererServices", "Association")</button>
                        }
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "Authentification", "Login")</button>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Association") == false)
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "AjouterAssociation", "Association")</button>
                        }


                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricing-thumb">
                    <div class="pricing-title">
                        <h2>Boutique</h2>
                    </div>
                    <div class="pricing-info">
                        <p>Une vitrine de vos activités</p>
                        <p>Une boutique personnalisée avec toutes les informations</p>
                        <p>Des ventes plus fluides</p>

                    </div>
                    <div class="pricing-bottom">
                        <span class="pricing-dollar">19,99€/mois</span>
                        @*<a href="#" class="section-btn pricing-btn">Souscrire</a>*@
                                                @if (User.Identity.IsAuthenticated && User.IsInRole("Association"))
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "GererServices", "Association")</button>
                        }
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "Authentification", "Login")</button>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Association") == false)
                        {
                            <button button type="button" class="section-btn pricing-btn">@Html.ActionLink("Souscrire", "AjouterAssociation", "Association")</button>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- CONTACT
<section id="contact" data-stellar-background-ratio="0.5">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <form id="contact-form" role="form" action="" method="post">
                         <div class="section-title">
                              <h1>Say hello to us</h1>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <input type="text" class="form-control" placeholder="Full name" name="name"
                                   required="">
                         </div>
                         <div class="col-md-4 col-sm-4">
                              <input type="email" class="form-control" placeholder="Email address" name="email"
                                   required="">
                         </div>
                         <div class="col-md-4 col-sm-4">
                              <input type="submit" class="form-control" name="send message" value="Send Message">
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <textarea class="form-control" rows="8" placeholder="Your message" name="message"
                                   required=""></textarea>
                         </div>
                    </form>
               </div>

          </div>
     </div>
</section>


