@model Kili.ViewModels.AssociationViewModel
@using Kili.Models
@using Kili.Models.General

@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}

     <!-- FEATURE -->
    <section id="home-explorer" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">
                    <div class="col-sm-7">
                         <div class="home-info"> 
            
                <h1> Découvrez les différentes associations</h1>
                <p> Description DescriptionDescriptionDescriptionDescription
                  DescriptionDescriptionDescriptionDescriptionDescription
                  DescriptionDescriptionDescriptionDescription
                  DescriptionDescriptionDescription

                </p> 
            
             

                            @using (Html.BeginForm("VoirAssociationsTriees","Home"))
                        {
                           

            <div class="search_box">
                @Html.TextBoxFor(m => m.association.Nom,  new { @id="nomAsso", @placeholder="Nom de l'association" , @class="input_search"})
            </div>
            <div class="search_box_2">              
                 @Html.TextBoxFor(m => m.association.Adresse.Ville,  new { @id="villeAsso", @placeholder="Ville", @class="input_search" }) 
                 @Html.DropDownListFor(m => m.RechercheTheme, new SelectList(Enum.GetValues(typeof(RechercheTheme))),new{@class="input_search"})
            </div>
                        <div class="form-submit">
                            <input type="submit" value="Valider" class="submit" name="submit" id="btn-val" />
                        </div>
                        }
        </div> 
         </div>
                    </div>
               </div>
          </div>
     </section>


     <!-- Liste Association -->

     <section >
        <div class="sec2Asso">
            <h2>@Model.Associations.Count() Résultats pour votre recherche </h2><br><br>
            <a href="">Tout</a> 
            <a href="">Associations</a>
            <a href="">Activités</a> <br><br>  

        </div> 
<div class="container">

           @foreach(var association in Model.Associations)
        {
                 
            <div class="responsive">
                    <div class="gallery">
                      <a href="@Url.Action("VoirDetailsAssociation", "Association", new { id = @association.Id})">
                        <img src="@association.ImagePath" alt="Cinque Terre" width="300" height="100">
                      </a>
                      <div class="desc">@association.Nom</div>
                      <div class="desc">@association.Adresse.Ville</div>
                      <div class="desc">@association.Theme</div>
                      <div class="desc">@association.Description</div>
                    </div>
                  </div>
        }


                </div>       
                <div class="clearfix"></div>
             
     </section>

     <!-- Kili QUESACO -->
     <section id="img5">
        <div class="container">
            <div class="">
                
            </div>
        </div>
     </section>

     
     </section>   


       
