@using Kili.Models.General
@model Kili.Models.General.Association

<!DOCTYPE html>
<html lang="fr">
<head>

    <title>Créer un compte</title>
    <!--



    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/CreateAccountstyle.css">

</head>

<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="~/images/image.png" alt="">

                </div>
                <div class="signup-form">
                    <img src="~/images/logo.png" class="logo" alt="">
                    <!--<form method="POST" class="register-form" id="register-form" action="/Association/AjouterAssociation">-->
                    @using (Html.BeginForm("AjouterAssociation","Association"))
                        {
                        <fieldset class="register-form" id="register-form">
                        <h2>Inscrire son association</h2>
                        <div class="form-row">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Nom,  new { @id="nomAsso", @placeholder="Nom de l'association" , @required="required" })
                            </div>

                        </div>

                        <label for="course">Adresse de l'association </label>

                        <div class="form-row">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Adresse.Numero,  new { @id="numAsso", @placeholder="Nom de l'association", @required="required", @Type="number" })                        
                            </div>
                            <div class="form-group">
                                 @Html.TextBoxFor(m => m.Adresse.Voie,  new { @id="voieAsso", @placeholder="Voie", @required="required" }) 
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Adresse.Complement,  new { @id="complementAsso", @placeholder="Compléments", @required="required" }) 
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Adresse.CodePostal,  new { @id="codeAsso", @placeholder="Code Postal", @required="required" }) 
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Adresse.Ville,  new { @id="villeAsso", @placeholder="Ville", @required="required" }) 
                        </div>

                        <div class="form-group">
                            <label for="course">Théme</label>
                            <div class="form-select">
                                @Html.DropDownListFor(m => m.Theme, new SelectList(Enum.GetValues(typeof(ThemeAssociation))), new { @id="course"})<br /><br />
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.AbonnementId);
                        <div class="form-submit">
                            <!--<input type="submit" value="Reset All" class="submit" name="reset" id="reset" />-->
                            <input type="submit" value="Valider" class="submit" name="submit" id="submit" />
                        </div>
                        </fieldset>

}
                    <!--</form>-->
                </div>
            </div>
        </div>

    </div>

</body>
</html>