@using Kili.Models.General
@model Kili.Models.General.Association

<!DOCTYPE html>
<html lang="fr">
<head>

    <title>Créer un compte</title>
    <!--



    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/CreateAccountstyle.css">

</head>

<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="~/images/image.png" alt="">

                </div>
                <div class="signup-form">
                    <img src="~/images/logo.png" class="logo" alt="">
                    <form method="POST" class="register-form" id="register-form" action="/Association/AjouterAssociation">
                        <h2>Inscrire son association</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Nom de l'association" id="nomAsso" value="@Model.Nom" required />
                            </div>

                        </div>

                        <label for="course">Adresse de l'association </label>

                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Numéro" id="numAsso" value="@Model.Adresse.Numero" required />
                            </div>
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Voie" id="voieAsso" value="@Model.Adresse.Voie" required />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Complément" id="complementAsso" value="@Model.Adresse.Complement" required />
                            </div>
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Code Postal" id="codeAsso" value="@Model.Adresse.CodePostal" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="name" placeholder="Ville" id="villeAsso" value="@Model.Adresse.Ville" required />
                        </div>

                        <div class="form-group">
                            <label for="course">Théme</label>
                            <div class="form-select">
                                <select name="course" id="course">
                                    <option value="Sport">Sport</option>
                                    <option value="Culture">Culture</option>
                                    <option value="Humanitaire">Humanitaire</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>

                        <div class="form-submit">
                            <!--<input type="submit" value="Reset All" class="submit" name="reset" id="reset" />-->
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>
</html>