@using Kili.Models.General
@model Kili.ViewModels.ServicesViewModel


@{
    Layout = "_Layout";
    ViewBag.Title = "GererServices";
}
<section id="section-kili">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h1> Des services dédiés aux associations  </h1>
                    <div class="pricing-info">
                        <p>
                            Rejoignez les 187 261 associations et clubs déjà présents sur Kili.
                            Grâce à notre modèle alternatif et solidaire, bénéficiez gratuitement de tous nos outils et de l’accompagnement
                            de notre équipe pour développer
                            et financer votre association.
                        </p>
                    </div>

                </div>
            </div>

            @foreach (var service in Model.listesServicesProposes)
            {
                @Html.HiddenFor(a => a.abonnement)
                @Html.HiddenFor(a => a.ServiceAdhesion)
                @Html.HiddenFor(a => a.ServiceDon)

                @if ((Model.abonnement.serviceAdhesion.EstActif == false && @service.TypeService == TypeService.Adhesion) || (Model.abonnement.serviceDon.EstActif == false && @service.TypeService == TypeService.Don) || (Model.abonnement.serviceBoutique.EstActif == false && @service.TypeService == TypeService.Boutique))

                {
                    <div class="column">
                        <div class="card-services">

                            <div class="container">
                                <h2>@service.TypeService</h2>
                                <p class="title">@service.duree_mois mois</p>
                                <p>@service.prix €</p>
                                <button class="button" id="btn-val">@Html.ActionLink("Ajouter", "AjouterService", "Abonnement",  new { id = @service.Id })</button>
                            </div>
                        </div>
                    </div>
                }

                 @if ((Model.abonnement.serviceAdhesion.EstActif == true && @service.TypeService == TypeService.Adhesion) || (Model.abonnement.serviceDon.EstActif == true && @service.TypeService == TypeService.Don) || (Model.abonnement.serviceBoutique.EstActif == true && @service.TypeService == TypeService.Boutique))
                {
                  <div class="column">
                        <div class="card-services">

                            <div class="container">
                                <h2>@service.TypeService</h2>
                                <p class="title">@service.duree_mois mois</p>
                                <p>Déjà compris dans votre abonnement</p>
                            </div>
                        </div>
                    </div>                    
                }


            }
          
        </div>
         <button button type="button" class="button-services">@Html.ActionLink("Accéder au panier", "PanierServices", "Abonnement")</button>
    </div>
</section>



<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

