@using Kili.Models.General
@model Kili.Models.General.Association


@{
    Layout = "_Layout";
    ViewBag.Title = "ModifierAssociation";
}

    <h1>
       Modifier les données de l'association
    </h1>

    <p>
        Compléter les champs ci-dessous :
    </p>

<!--
@using (Html.BeginForm("ModifierAssociation","Association"))
{
    <fieldset>
        <Label>Nom de l'association</Label>
        @Html.TextBoxFor(m => m.Nom)
        @Html.ValidationMessageFor(m => m.Nom)
        <br /><br />
        <Label>Adresse de l'association</Label><br />
        <Label>Numéro :</Label>
        @Html.TextBoxFor(m => m.Adresse.Numero)
        <Label>Voie :</Label>
        @Html.TextBoxFor(m => m.Adresse.Voie)<br />
        <Label>Compléments :</Label>
        @Html.TextBoxFor(m => m.Adresse.Complement)<br />
        <Label>Code Postal :</Label>
        @Html.TextBoxFor(m => m.Adresse.CodePostal)
        <Label>Ville :</Label>
        @Html.TextBoxFor(m => m.Adresse.Ville)<br /><br />
        <Label>Thème :</Label>
        @Html.DropDownListFor(m => m.Theme, new SelectList(Enum.GetValues(typeof(ThemeAssociation))), "Choisir le thème")<br /><br />
        <Label>Description :</Label>
        @Html.TextBoxFor(m => m.Description)<br /><br />


        
         
        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.AdresseId);
        <br />
       <input type="submit" value="Enregistrer" />
    </fieldset> 

}
-->
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

