@model Kili.Models.General.PanierService;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Nom</th>
            <th>Durée</th>
            <th>Prix</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@Html.ActionLink("Supprimer", "SupprimerServiceDansPanier", "Abonnement", new { id = @item.Id })</td>
                <td>@item.Service.Id</td>
                <td>@item.Service.TypeService</td>
                <td>@item.Service.duree_mois</td>
                <td>@item.Service.prix</td>
                <td>@item.Quantity</td>
                <td>@(item.Service.prix * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @(Model.Items.Sum(item => item.Service.prix * item.Quantity));
            </td>
        </tr>
    </table>
    <br>
    @Html.ActionLink("Continuer Achat", "GererServices", "Association")

</body>
</html>