@model Kili.Models.General.Association
@using Kili.Models
@using Kili.Models.Dons

@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}


    <link rel="stylesheet" href="~/css/Vignettestyle.css">
 @*     <link rel="stylesheet" href="~/css/ModalCot.css">*@

@*<body>*@

     

<section id="section-kili-asso">
         
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="col-md-6 col-md-6">
                                   <h1>@Model.Nom</h1>
                                   <br>
                                   <p>@Model.Description</p><br>
                                   <h4>Adresse :</h4>
                                   <label>@Model.Adresse.Numero, @Model.Adresse.Voie</label><br>
                                       @if (@Model.Adresse.Complement != null)
                                        {
                                        <Label> @Model.Adresse.Complement</Label><br />
                                         }
                                        <Label>@Model.Adresse.CodePostal @Model.Adresse.Ville</Label><br>

                                        <!--Affichage des icones-->
                                    <div class="container">
                                        @if (@Model.Abonnement.serviceAdhesion.EstActif)
                                        {
                                               <div class="col-sm-2">
                                                  <a href="#Testtag" class="smoothScroll"><img src="/images/imageAd.png" alt="Adhésion" width="100px" height="100px"></a>
                              
                                               </div> 
                                        }

                                        @if (@Model.Abonnement.serviceDon.EstActif)
                                        {
                                                <div class="col-sm-2">
                                                    <a href="#Testtag2" class="smoothScroll"><img src="/images/imageHeart.png" alt="Don" width="100px" height="100px"></a>
                                                </div>                           
                                        }
                                        @if (@Model.Abonnement.serviceBoutique.EstActif)
                                        {
                                                <div class="col-sm-2">
                                                    <a href="#Testtag3" class="smoothScroll"><img src="/images/imageBoutique.png" alt="Don" width="100px" height="100px"></a>
                                                </div>
                                         }
                                    </div>
                                   
                                        
                              </div>               
                         <div class="col-md-6 col-md-6">
                              <img src="@Model.ImagePath" alt="AssoSoleil" height="500" width="750" style="border-radius: 10%;">
                         </div>
                    
               </div>
          </div>
          </div>
     </section>
     <!----------------------------------------------------------------------------------------------------------------------------->



     <section  id="section-kili-asso-2" data-stellar-background-ratio="0.5">
          <div class="signup-content">
              <div class="signup-img">

          @if (@Model.Abonnement.serviceAdhesion.EstActif)
          {
               <div class="row" id="Dons"> 
                    <h2 class="TitreVin">Nos Adhésions</h2>
               </div>

                     <div class="row" > 
                           <div class="vignetteW">
                            <div class="pic">
                                <div style="display: flex;">
                                    <div style="width: 25%;">
                                       <a href="img_5terre.jpg">
                                            <img src="/images/BoutiqueAsso.png" alt="Cinque Terre" height="250">
                                       </a>
                                    </div>
                                    <div style="width: 75%;" class="description">
                                        <h4>Adhésion annuelle</h4>
                                        <p>Profitez de tout les avantages de notre association</p>
                                        @*<div class="VinDiV">Vétements et Accessoires*/div>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

            }

          @if (@Model.Abonnement.serviceDon.EstActif)
            {
 

               <div class="row" id="Dons"> 
                    <h2 class="TitreVin">Nos collectes</h2>
               </div>

            @foreach (Collecte collecte in @Model.Abonnement.serviceDon.Collectes) { 

            <div class="row"> 
                <div class="vignetteW">
                    <div class="pic">
                        <div style="display: flex;">
                            <div style="width: 25%;">
                                <a href="@Url.ActionLink("AfficherCollecte", "Collecte", @*new {collecte = collecte}*@ new {id=@collecte.Id})">
                                    @if(collecte.ImagePath != null){                     
                                    <img src="@collecte.ImagePath" alt="Cinque Terre" height="250">} 
                                    else {
                                    <img src="/images/BoutiqueAsso.png" alt="Cinque Terre" height="250">}
                                </a>
                            </div>
                            <div style="width: 75%;" class="description">
                                <h4>@collecte.Nom</h4>
                              <!--  <p>@collecte.Descriptif</p>-->
                                <div class="VinDiV">@collecte.MontantCollecte € collectés</div>     
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            }   

     }

          @if (@Model.Abonnement.serviceBoutique.EstActif)
        {

            <div class="row" id="Notre Boutique"> 
                <h2 class="TitreVin">Boutique en ligne</h2>
            <div class="vignetteW">
                    <div class="pic">
                        <div style="display: flex;">
                            <div style="width: 25%;">
                                <a href="img_5terre.jpg">
                                    <img src="/images/BoutiqueAsso.png" alt="Cinque Terre" height="250">
                                </a>
                            </div>
                            <div style="width: 75%;" class="description">
                                <h4>Accéder à notre boutique en Ligne</h4>
                                <p>Vous y trouverez l'article dont vous avez besoin</p>
                                <div class="VinDiV">@* Nombre d'article*@</div>     
                            </div>

                        </div>
                    </div>
                </div>
            </div>
     
        }
        </div>
        </div>
    </section>     





<!-- SCRIPTS -->
@*<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/custom.js"></script>
<script>src="~/js/ModalCOT.js"</script>

</body>*@
