@model Kili.ViewModels.PaiementViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Paiement";
}
<link rel="stylesheet" href="~/css/Paidstyle.css">

<body>
    <section id="section-kili-asso-2" data-stellar-background-ratio="0.5">

        <div class="row">
             @using (Html.BeginForm())
                    {
            <div class="col-75paid">
                <div class="container">

                        <fieldset action="/action_page.php">

                            <div class="col-50paid">
                        
                                <h3> Paiement par carte</h3>
                                <div class="icon-container1">
                                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                    <i class="fa fa-cc-discover" style="color:orange;"></i>

                                </div>

                                <label for="cname">Titulaire de la carte</label>
                                @Html.TextBoxFor(m => Model.MoyenPaiement.NomTitulaire , new { @type="text", @id="cname", @name="cardname", @placeholder="Vincent Gaudel" , @required="required"})
                                <label for="ccnum">Numéro de carte</label>
                                @Html.TextBoxFor(m => Model.MoyenPaiement.Numero, new { @type="text", @id="ccnum", @name="cardnumber", @placeholder="1111-2222-3333-4444", @required="required"})
                                @Html.ValidationMessageFor(m => Model.MoyenPaiement.Numero)
                                <label for="expmonth">Date d'expiration</label>
                                @Html.TextBoxFor(m => Model.MoyenPaiement.DateExpiration, new { @type="text", @id="expmonth", @name="expmonth", @placeholder="04/22", @required="required" })
                                @Html.ValidationMessageFor(m => Model.MoyenPaiement.DateExpiration)
                                <label for="cvv">CVV</label>
                                @Html.TextBoxFor(m => Model.MoyenPaiement.Cryptogramme, new { @type="text", @id="cvv", @name="cvv", @placeholder="352", @required="required" })
                                @Html.ValidationMessageFor(m => Model.MoyenPaiement.Cryptogramme)
                            <br></br>
                            <br></br>
                            </div>
                            <div class="col-50paid">

                                <h3>Paiement par Paypal</h3>
                                <label for="cname">Identifiant</label>
                                @Html.TextBoxFor(m => Model.MoyenPaiement.Identifiant, new { @type="text", @id="paypal", @name="paypal", @placeholder="Compte Paypal" })
                            </div>
                            @Html.HiddenFor(m=>Model.Action)
                            @Html.HiddenFor(m=>Model.ActionID)
                            @Html.HiddenFor(m=>Model.Paiement.Id)
                            @Html.HiddenFor(m=>Model.Paiement.DatePaiement)
                            @Html.HiddenFor(m=>Model.Paiement.AssociationId)
                            @Html.HiddenFor(m=>Model.Paiement.MoyenPaiementId)
                        </fieldset>
                    
                </div>
                <div class="container">
  @*                  <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Adresse de livraison même que l'adresse de facturation
                    </label>*@
                    <input type="submit" value="Valider le Paiement" class="button" />
                    <div>
                    </div>
                </div>

            </div>
            }
        </div>
    </section>


</body>
