@using System.Security.Policy

@model Kili.ViewModels.CollecteDonViewModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Collect";
}
<body>
    <section id="container">
        <!--barre NAV start-->
                <!--description asso-->
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <div class="panel-body profile-information">
                                <div class="col-md-3">
                                    <div class="profile-pic text-center">
                                        <img src="@Model.association.ImagePath" alt="" height="250" width="250" style="border-radius: 10%;"/>                                   
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="profile-desk">
                                        <h1>@Model.association.Nom</h1>
                                        <span class="text-muted">@Model.association.Theme</span>
                                        <p>
                                            @Model.association.Description
                                        </p>
                                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModalCréa">Créer une collecte</a> <!--Création de la collect-->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="profile-statistics" style="text-align:center;">
                                        <h1>@Model.montantglobalcollectes €</h1>
                                        <p>Montant total des collectes</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--Liste collecte start-->
                        <section class="panel">


                <header class="panel-heading" style="text-align:center; font-size:large">
                    <b>Liste des collectes</b>
                </header>
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel" style="padding-top:6px;">
                            <div class="panel-body">
                                
                                <table class="table  table-hover general-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nom</th>
                                            <th>Description</th>
                                            <th class="hidden-phone"> Montant collecté</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @foreach (var v in Model.listecollecte)  
                                        {
                                    <tbody>
                                        <tr>                                 
                                            <td><img src="@v.ImagePath" height="25" width="25" style="border-radius: 10%;" /></td>
                                            <td><a href=@Url.Action("AfficherCollecte", "Collecte", new { id = @v.Id})>@v.Nom</a>
                                            <td>@v.Descriptif </td>
                                            <td class="hidden-phone">@v.MontantCollecte €</td>
                                            <td><a href="#" data-elemid="@v.Id" class="todo-edit LinkPopup" style="margin-right:10px;"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></a><a href=@("/collecte/supprimercollecte/" + v.Id) class="todo-remove"><i class="fa fa-times-circle fa-2x" aria-hidden="true" style="color:red;"></i></a></td>
                                        </tr>
                                    </tbody>
                                    }
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
    <!------------------------------------------------------------------ (POPUP) Modal  pour la création de la collect ---------------------------------------------------------->
                 <div class="modal fade" id="myModalCréa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Créer collecte</h4>
                            </div>
                            <div class="modal-body row">
                                

                                @using (Html.BeginForm("CreerCollecte","Collecte", FormMethod.Post, new { enctype = "multipart/form-data" }))

                                {
                               @*<form action="/action_page.php">*@
                                <div>
                                    <img src="images/gallery/image1.jpg" alt="">                               
                                </div>
                                
                                     <fieldset>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Nom</label>
                                        @Html.TextBoxFor(m => Model.collecte.Nom, new {@id="name", @value="nom", @class="form-control"}) 
                                    </div>
                                    @*<div class="form-group">
                                        <label> Montant</label>
                                        <input id="title" value="Montant" class="form-control">
                                    </div>*@
                                    <div class="form-group">
                                        <label> Description</label>
                                        @Html.TextAreaFor(m => Model.collecte.Descriptif, new {@rows="2", @class="form-control"})
                                        @*<textarea rows="2" placeholder= "description" class="form-control"></textarea>*@
                                    </div>
                                    @*<div class="form-group">
                                        
                                            <input type="date" id="Date" name="Date" placeholder="Date de fin">
                                   @*</form>*@
                                                                        
                                    </div>

                                    <div class="pull-down">
                                           @Html.TextBoxFor(a => a.collecte.Image, new { @type = "file", @class="file-pos", @id="exampleInputFile" })
                                           @Html.HiddenFor(a=>a.collecte.ImagePath)
                                        <input type="submit" class="btn btn-primary" value="Valider"/>
                                        @*
                                        <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i>Insérer l'image</a>
                                        <a href="AfficherCollectesDonsCompteConnecte"><button class="btn btn-danger" type="button">Annuler</button></a>                                   
                                        <button class="btn btn-primary" type="button">Enregistrer</button>*@

                                    </div>
                                    </fieldset>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--------------------------------------------------------------------- fin de modal création de la collect -------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------(POPUP) Modal  pour la modification --------------------------------------------------------------->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Modifier collect</h4>
                                    </div>
                                    <div class="modal-body row">
                                        <div>
                                            @*
                                            <img src="images/gallery/image1.jpg" alt="">
                                            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Modifier l'image</a>*@
                                        </div>
                                         @using (Html.BeginForm("ModifierCollecte","Collecte", FormMethod.Post,new{enctype = "multipart/form-data"})) 
                                        {
                                     <fieldset>
                                        <div class="col-md-12">                                       
                                            <div class="form-group">
                                                <label> Nom</label>
                                                @Html.TextBoxFor(m => Model.collecte.Nom, new {@id="name", @value="nom", @class="form-control"}) 
                                                @Html.HiddenFor(m=> Model.collecte.Id)
                                            </div>
                                            <div class="form-group">
                                                <label> Description</label>
                                                @Html.TextAreaFor(m => Model.collecte.Descriptif, new {@rows="2", @class="form-control"})
                                            </div>
                                            @*<div class="form-group">
                                                <form action="/action_page.php">
                                                    <input type="date" id="Date" name="Date" placeholder="Date de fin">
                                                </form>
                                            </div>*@
                                            </div>
                                        
                                            <div class="pull-down">
                                                @*<button class="btn btn-danger" type="button">Supprimer la collecte</button>
                                                <button class="btn btn-primary" type="button">Enregistrer</button>*@
                                                @Html.TextBoxFor(a => a.collecte.Image, new { @type = "file", @class="file-pos", @id="exampleInputFile" })
                                                @Html.HiddenFor(a=>a.collecte.ImagePath)
                                                <input type="submit" class="btn btn-primary" value="Valider"/>
                                            </div>
                                            </fieldset>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!------------------------------------------------------------ fin de modal modification ------------------------------------------------------------------------>

                </section>

                <!--liste de don start-->
                <header class="panel-heading" style="text-align:center; font-size:large">
                    <b>Liste des dons </b>
                </header>
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel" style="padding-top:6px;">
                            <div class="panel-body">
                                
                                <table class="table  table-hover general-table">
                                    <thead>
                                        <tr>
                                            <th> Nom de la collecte</th>
                                            <th>Date</th>
                                            <th>Récurrence</th>
                                            <th class="hidden-phone"> Montant</th>                                           
                                        </tr>
                                    </thead>
                                    @foreach (var v in Model.listedon)  
                                        {
                                    <tbody>
                                        <tr>
                                            <td><a href="#">@v.Collecte.Nom</a></td>
                                            <td>@v.Date.ToLongDateString() </td>
                                            <td>@v.Recurrence </td>
                                            <td class="hidden-phone">@v.Montant €</td>
                                        </tr>
                                    </tbody>
                                    }
                                </table>
                            </div>
                            <!--liste de don end-->
                        </section>
                    </div>
                </div>

        <!--main content end-->    
</body>

