@model IEnumerable<Kili.Models.Dons.Collecte>

    @{
    Layout = "_Layout";
    ViewBag.Title = "Visualisez les collectes";
}

 <div><b>Liste des collectes</b><br /></div>  
    <table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th>Nom</th>      
        <th>Date</th>  
        <th>Recurrence</th>   
    </tr>  
    @foreach (var v in Model)  
    {  
        <tr>
            <td>@v.Nom</td>   
            <td>@v.Date.ToLongDateString()</td>  
            <td>@v.Descriptif</td>
            <td>@Html.ActionLink("Faire un don", "CreerDon", "Don", new { idCollecte = @v.Id })</td>
        </tr>  
    }  
     <!-- id = 1 à changer pour l'Id de la collecte sélecionnée dans le tableau-->
</table> 