@model Kili.ViewModels.DonViewModel
@using Kili.Models
@using Kili.Models.Dons

@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}


     <link rel="stylesheet" href="~/css/Vignettestyle.css">
     <link rel="stylesheet" href="~/css/ModalCot.css">

<body>

     

<section data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <p style="color:transparent">----------------------------------------------------</p>
          <p style="color:transparent">----------------------------------------------------</p>
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="col-md-6 col-md-6">
                                   <h1>@Model.Collecte.Nom</h1>
                                   <br>
                                   <h4>@Model.Collecte.Descriptif</h4><br>

                                   <p><b>Faire un don à cette collecte</b></p>
                                   
                                    @using (Html.BeginForm())
                                    {
                                    <fieldset class="register-form" id="register-form">
                                         <div class="search_box_2">
                                    @Html.TextBoxFor(m => m.Don.Montant,  new { @id="montantDon", @placeholder="" , @required="required", @class="input_search" })
                                    

                                    @Html.DropDownListFor(m => Model.Don.Recurrence, new SelectList(Enum.GetValues(typeof(Kili.Models.Dons.TypeRecurrence))), "Sélectionner une récurrence" ,new{@class="input_search"})
                                     </div>
                                    @Html.HiddenFor(m => Model.IdCollecte)
                                    
                                    <div class="form-submit">                            
                                    <br><input type="submit" value="Donner" class="submit button" name="submit" id="submit" />
                                    </div>
                                    
                                    </fieldset>

                                    }
                     </div>
                                       
                     <div class="col-md-6 col-md-6">
                              <img src="@Model.Collecte.ImagePath" alt="" height="500" width="750" style="border-radius: 10%;">
                        </div>
                 
                 </div>
        </div>
    </div>
</section>





<!-- SCRIPTS -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/custom.js"></script>
<script>src="~/js/ModalCOT.js"</script>

</body>
