

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/css/Content/Image/favicon.ico">
    <title>@ViewBag.Title</title>
    <link href="~/css/SiteGeneral.css" rel="stylesheet" />
</head>
<body>
    <div id="menu">
            <ul>
                <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                <li>@Html.ActionLink("Accéder à son compte", "Authentification", "Login")</li>
                <li>@Html.ActionLink("Créer son compte", "CreerUserAccount", "UserAccount")</li>
                <li>@Html.ActionLink("Faire un don", "CreerDon", "Don")</li>
                <li>@Html.ActionLink("Visualiser les dons", "AfficherDons", "Don")</li>
                <li>@Html.ActionLink("Créer une collecte", "CreerCollecte", "Collecte")</li>
                <li>@Html.ActionLink("Visualiser les collecte", "AfficherCollectes", "Collecte")</li> 
                <li>@Html.ActionLink("Ajoutez votre association", "AjouterCompteAssociation", "Association")</li>
                <li>@Html.ActionLink("Explorer", "Explorer", "Home")</li>
                <li>@Html.ActionLink("Voir mon association", "VoirInfosAssociation", "Association")</li>
        </ul>
        </div><br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
