@model Kili.ViewModels.UserAccountViewModel

<!DOCTYPE html>
<html lang="fr">
<head>

    <title>Créer un compte association</title>
    <!--



    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/formulaire-style.css">

</head>

<body>

    <div class="main">

        <div class="container">
            <input type="button" value="fermer" class="submit" name="submit" id="submit" />
            <div class="signup-content">

                <div class="signup-img">
                    <img src="~/images/image.png" alt="">
                    <div class="form-submit">

                    </div>

                </div>
                <div class="signup-form">

                      @using (Html.BeginForm())
                    {
                        <fieldset class="register-form" id="register-form">
                            <h2>Créer votre compte</h2>
                            <div class="form-row">
                            </div>

                            <label for="course">Vos coordonnées </label>


                            <div class="form-row">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserAccount.Prenom, new { @id = "prenomUser", @placeholder = "Prenom", @required = "required" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserAccount.Nom, new { @id = "nomUser", @placeholder = "Nom", @required = "required" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserAccount.Mail, new { @id = "mailUser", @placeholder = "mail", @required = "required" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserAccount.Password, new { @id = "passwordUser", @placeholder = "Password", @required = "required" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserAccount.Telephone, new { @id = "mailUser", @placeholder = "mail", @required = "required" })
                                </div>
                             </div>


                            <div class="form-submit">
                                <input type="submit" value="Valider" class="submit" name="submit" id="submit" />
                            </div>
                        </fieldset>

                    }
                    <!--</form>-->
                </div>
            </div>
        </div>

    </div>

</body>
