@model Kili.ViewModels.UserAccountViewModel
@using Kili.Models
@using Kili.Models.General

@{
    Layout = "_Layout";
    ViewBag.Title = "Mon user profil";
}

<section id="main-content">
            <section class="wrapper">
                <!-- page start-->

                <div class="row">
                    <div class="col-md-6">
                        <section class="panel">
                            <div class="panel-body profile-information">
                                <div class="col-md-3">
                                    <div class="profile-pic text-center">
                                        <img src="@Model.UserAccount.ImagePath" height="150" width="150" />


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @using (Html.BeginForm("ModifierUserAccount","UserAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                   
                                            {
                                    <div class="profile-desk">

                                        <h1>@Model.UserAccount.Prenom @Model.UserAccount.Nom</h1>
                                        
                                        <fieldset class="form-signin" action="index.html">
                                        
                                            <div class="login-wrap">
                                                @Html.TextBoxFor(m => Model.UserAccount.Prenom, new { @type="text", @class="form-control", @placeholder="Prénom", @autofocus="autofocus" })
                                                @Html.TextBoxFor(m => Model.UserAccount.Nom, new { @type="text", @class="form-control", @placeholder="Nom", @autofocus="autofocus" })
                                                @Html.TextBoxFor(m => Model.UserAccount.Mail, new { @type="text", @class="form-control", @placeholder="Email", @autofocus="autofocus" })
                                                @Html.TextBoxFor(m => Model.UserAccount.Telephone, new { @type="text", @class="form-control", @placeholder="Telephone", @autofocus="autofocus" })
                                            </div>

                                                    @Html.HiddenFor(pwd => Model.OldPassword)
                                                    @Html.HiddenFor(pwd => Model.NewPassword)
                                                    @Html.HiddenFor(pwd => Model.ConfirmationPassword)
                                                    @Html.HiddenFor(m=>Model.Message)

                                                    @Html.HiddenFor(m=>Model.UserAccount.Id)
                                                    @Html.HiddenFor(m=>Model.UserAccount.AssociationId)
                                                    @Html.HiddenFor(m=>Model.UserAccount.DonateurId)
                                                    @Html.HiddenFor(m=>Model.UserAccount.Role)

                                     </fieldset>

                                    
                                     

                                    </div>
                                    <div class="col-md-3">
                                        <input class="btn btn-primary" type="submit" value="Enregistrer Modification"/>
                                         <div class="form-group">
                                        <div class="col-lg-6">
                                         @Html.TextBoxFor(a => a.UserAccount.Image, new { placeholder = "Description", @type = "file", @class="file-pos", @id="exampleInputFile" })   
                                        </div>
                                         </div>

                                </div>
                                }
                            </div>

                        </section>

                    </div>

                    
                    <div class="col-sm-6">
                        <section class="panel">
                            
                            
                                @if (@Model.UserAccount.Role == TypeRole.Association){
                                <header class="panel-heading">Mon Association</header>
                                <button button type="button" class="button">@Html.ActionLink("Accéder au profil de l'association", "VoirProfilAssociation", "Association")</button>
                                }

                                @if (@Model.UserAccount.Role == TypeRole.Utilisateur){
                                <header class="panel-heading">Vous souhaitez créer votre association</header>
                                 <button button type="button" class="button">@Html.ActionLink("C'est par ici", "AjouterAssociation", "Association")</button>
                                }
                                

                      
                        </section>
                    </div>
                        
                </div>
                <!-- page end-->
            </section>
        </section>