@model Kili.ViewModels.UserAccountViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Modifier son mot de passe";
}

 @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier son mot de passe </legend><br />
            <br /><br />
            @Model.Message

            <br /><br />
            <label for="pwd">Ancien mot de passe</label>
            @Html.TextBoxFor(m => Model.OldPassword)
             
            <br /><br />
            <label for="pwd">Nouveau mot de passe</label>
            @Html.TextBoxFor(m => Model.NewPassword) 
            
            <br /><br />
            <label for="pwd">Confirmer le nouveau mot de passe</label>
            @Html.TextBoxFor(m => Model.ConfirmationPassword)

            <br /><br />

            @Html.HiddenFor(m=>m.UserAccount.Id)
                     

            <input type="submit" value="Modifier" />
        </fieldset>

    }

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>