@model Kili.ViewModels.UserAccountViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Modifier son mot de passe";
}

 @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier son mot de passe </legend><br />
            <br /><br />
            @Model.Message

            <br /><br />
            <label for="pwd">Ancien mot de passe</label>
            <input type="password" id="pwd" name="pwd" value="@Model.OldPassword"> 
            @Html.ValidationMessageFor(m => Model.UserAccount.Password) 
            <br /><br />
            <label for="pwd">Nouveau mot de passe</label>
            <input type="password" id="pwd" name="pwd" value="@Model.NewPassword"> 
            @Html.ValidationMessageFor(m => Model.UserAccount.Password)
            <br /><br />
            <label for="pwd">Confirmer le nouveau mot de passe</label>
            <input type="password" id="pwd" name="pwd"> 
            @Html.ValidationMessageFor(pwd => Model.ConfirmationPassword)
            <br /><br />

            <input type="submit" value="Modifier" />
        </fieldset>

    }

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>